@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <br />
    <h4> Banco Sdias Byte Bank!</h4>
    <br />
    <p>Sistema de cadastro bancário, cadastre cliente, conta e transação.</p>
</div>
