@model WebApplicationMVC.Models.ContaModel

@{
    ViewData["Title"] = "Criar Conta";    
}

<h1>Cadastrar Conta</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Conta" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label> 
                @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control"}) 
                @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Saldo" class="control-label"></label>
                <input asp-for="Saldo" class="form-control" />
                <span asp-validation-for="Saldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
